<div class="row">
  <div class="col-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
  <div class="row">
    <div class="col-12">
      <a
        href="#"
        class="list-group-item clearfix border m-2 p-2"
        *ngFor="let recipe of recipes"
      >
        <div class="float-start">
          <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
          <p class="list-group-item-text">{{ recipe.description }}</p>
        </div>
        <span class="float-end">
          <img
            [src]="recipe.imagePath"
            alt="{{ recipe.description }}"
            class="img-responsive img-thumbnail"
            style="max-height: 50px"
          />
        </span>
      </a>
      <app-recipe-item></app-recipe-item>
    </div>
  </div>
</div>
